* {
  margin: 0;
  box-sizing: border-box;
}
body {
  background: url("../bg.jpg");
  background-size: 100%;
  position: relative;
}
// Forte
// Mistral

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: calc(20px + 2vw);
  padding: 0.4% 0;
  background: transparent;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 999;
  &:hover {
    background: rgba(0, 0, 0, 0.432);
    transition: 1s;
  }

  .logo {
    color: white;
    font-family: "Forte", sans-serif;
  }

  button {
    padding: 4px 2rem;
    color: white;
    background: rgba(0, 0, 0, 0.692);
    border: 1px solid #c1cfc0;
    font-family: "Arial", serif;
    text-transform: uppercase;
    &:active {
      transform: scale(0.99);
    }
  }
}

.container {
  padding-top: 100px;
  width: 89vw;
  height: 400px;
  margin: 0 auto;
  font-family: "Mistral";
  .all-notes {
    margin: 0 auto;
    width: 95%;

    .note {
      width: 300px;
      height: 300px;
      padding: 1%;
      box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.459);
      display: inline-block;
      overflow: hidden;
      font-size: 2rem;
    }
  }
}

.modal {
  position: fixed;
  background: rgba(0, 0, 0, 0.527);
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;

  .modal-content {
    width: 300px;
    height: 300px;
    background: navajowhite;
    box-shadow: 4px 4px 10px black;
    border-radius: 2px;
    padding: 1%;
    overflow: hidden;
    transform: scale(1.4);

    .exit {
      position: absolute;
      top: 3px;
      right: 6px;
      color: violet;
    }

    textarea {
      width: 100%;
      height: 100%;
      overflow-y: hidden;
      resize: none;
      background: transparent;
      font-size: 1.4rem;
      border: none;

      &:focus {
        outline: none;
      }
    }
  }
}
